<table th:fragment="listarPendientes" class="table table-striped mt-3">

    <thead>
    <tr>
        <th>Usuario</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="actual : ${lista}">
        <td th:text="${actual.idUsuario.correo}">Usuario</td>
        <td>
            <a class="btn btn-success btn-sm" th:href="@{/admin/generar-clave(id=${actual.idUsuario.id})}">
                Aprobar y generar clave
            </a>
        </td>
    </tr>
    </tbody>
</table>